<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Repeated Words Counter</title>
    </head>
    <body>
        <div class="container">
                <h1>Repeated Words Counter</h1>
                <p>To count the number of times your word is repeated in your phrase, fill out the inormation below.</p>
                <!--the form below takes the information as inputs for the countRepeats function in "../src/repeatcounter.php" -->
                <form action="/results">




            </form>

    </body>
</html>
