<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Repeated Words Counter</title>
    </head>
    <body>
        <div class="container" text align="center">
            <h2>" {{ word }} "</h2>
            <h4>appears</h4>
            <h1> {{ count }} times</h1>
            <h4>in the phrase</h4>
            <h2>"{{ phrase }} "</h2>
            <a href="/">Try another word and phrase!</a>


    </body>
</html>
